* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/image\ 8.svg");
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

body {
    background: #1c1c1c;
}

.container-box {
    width: 80%;
    margin-inline: auto;
}

/* Header CSS Start */

.nav-section.scrolling-active {
    background: linear-gradient(180deg, #000000 -113.95%, rgba(0, 0, 0, 0.5));
}

.nav-section {
    padding: 1rem 0 1rem 0;
    position: fixed;
    width: 100%;
    transition: all .3s ease;
}

.nav-section .box-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-section .box-nav .logo img {
    width: 50px;
    height: 45px;
}

.nav-section .box-nav .menu {
    display: flex;
    column-gap: 2.0vw;
    margin-top: 10px;
}

.nav-section .box-nav .menu li {
    list-style: none;
}

.nav-section .box-nav .menu li a {
    text-decoration: none;
    color: white;
    padding: 10px 10px 10px 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #F2F2F2;
}

.nav-section .box-nav .menu li a:hover {
    color: #FFD369;
    transition: all .3s ease;
}

#menu-bar {
    font-size: 35px;
    display: none;
    color: white;
}

.hero {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;

}

.hero .box-hero {
    text-align: center;
}

.hero .box-hero .box-title h3 {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 81px;
    color: #FFFFFF;
}

.hero .box-hero .box-title p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.hero .box-hero .box-title button {
    padding: 16px 24px;
    gap: 24px;
    width: 161px;
    height: 68px;
    background: #222831;
    border-radius: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    outline: 0;
    border: none;
}

.hero-2 {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
}

.hero-2 a{
    text-decoration: none;
}

.hero-2 .box-ig {
    display: flex;
    column-gap: 0.5vw;
    justify-content: center;
    text-align: center;
}

.hero-2 .box-ig img {
    width: 32px;
    height: 32px;
}

.hero-2 .box-ig h3 {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 3.94vh;
    text-align: center;
    color: #FFFFFF;
}

/* Header CSS End */

/* About CSS Start */

.about .box-about {
    margin-top: 88px;
    margin-bottom: 125px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
    column-gap: 50px;
    align-items: center;
}

.about .box-about .img-about img {
    width: 412px;
}

.about .box-about .desc-about h3:nth-child(1) {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFD369;
}

.about .box-about .desc-about h3:nth-child(2) {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
}

.about .box-about .desc-about p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

/* About CSS End */

/* Services CSS Start */

.services .box-services .title-services h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFD369;
}

.services .box-services .title-services p {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
}

.services .box-services .img-services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    column-gap: 30px;
}

.services .box-services .img-services .detail-img-services img {
    width: 100%;
}

.services .box-services .img-services .detail-img-services p {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5vw;
    line-height: 30px;
    color: #FFFFFF;
}

/* Services CSS End */

/* Portofolio CSS Start */

.portofolio .box-portofolio {
    margin-top: 110px;
    margin-bottom: 125px;
}

.portofolio .box-portofolio .title-portofolio h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFD369;
}

.portofolio .box-portofolio .title-portofolio p {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
}

.portofolio .box-portofolio .img-portofolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    column-gap: 30px;
    row-gap: 30px;
}

.portofolio .box-portofolio .img-portofolio .detail-img-portofolio img {
    width: 100%;
    height: 80%;
    background-size:cover ;
}

.portofolio .box-portofolio .see-more {
    display: flex;
    justify-content: center;
    margin-top: 55px;
    column-gap: 10px;
    align-items: center;
}

.portofolio .box-portofolio .see-more a {
    text-decoration: none;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
}

.portofolio .box-portofolio .see-more a:hover {
    color: #FFD369;
}

/* Portofolio CSS End */

/* Contact CSS Start */

.contact .box-contact {
    margin-bottom: 51px;
}

.contact .box-contact .img-contact {
    display: grid;
    padding: 72px 100px;
    align-content: space-between;
    background-image: url(../img/Rectangle\ 12.svg);
    width: 100%;
    min-height: 56.3vh;
    background-position-y: center;
    background-position-x: center;
    /* background-position: center; */
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    justify-items: center;
}

.contact .box-contact .img-contact h3 {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 2.7vw;
    line-height: 3.5vw;
    text-align: center;
    color: #FFFFFF;
}

.contact .box-contact a{
    text-decoration: none;
}

.contact .box-contact .img-contact button {
    padding: 16px 24px;
    width: 215.93px;
    height: 64px;
    left: 612px;
    top: 3595px;
    background: #29A71A;
    border-radius: 10.4012px;
    color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0;
    border: none;
}

/* Contact CSS End */

/* Footer CSS Start */

footer {
    /* border-top: 1px solid #BDBDBD; */
    padding-top: 121px;
    padding-bottom: 58px;
}

footer .box-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .box-footer .img-footer img {
    width: 91px;
}

footer .box-footer .menu-footer {
    display: flex;
    column-gap: 2.0vw;
}

footer .box-footer .menu-footer li {
    list-style-type: none;
}

footer .box-footer .menu-footer li a {
    text-decoration: none;
    color: #F2F2F2;
}

footer .box-footer .menu-footer li a:hover {
    color: #FFD369;
    transition: all .3s ease;
}

/* Footer CSS End */

@media (max-width:1048px) {
    .hero {
        width: 100%;
        height: 90vh;
        display: flex;
        align-items: center;

    }

    .hero .box-hero {
        text-align: center;
    }

    .hero .box-hero .box-title h3 {
        font-size: 6.1vw;
    }

    .hero .box-hero .box-title p {
        font-size: 2.3vw;
    }

    .hero .box-hero .box-title button {
        padding: 1.04vw 1.5vw;
        gap: 1.5vw;
        width: 15.4vw;
        height: 6.42vw;
        border-radius: 0.78vw;
        font-size: 2.3vw;
    }

    .hero-2 .box-ig img {
        width: 4%;
        height: 4.2105263157894735vh;
    }

    .hero-2 .box-ig h3 {
        font-size: 2.3vw;
    }

    /* About CSS Start */

    .about .box-about {
        margin-top: 70px;
        margin-bottom: 70px;
    }

    .about .box-about .img-about img {
        width: 30.82vw;
    }

    .about .box-about .desc-about h3:nth-child(1) {
        font-size: 1.7vw;
    }

    .about .box-about .desc-about h3:nth-child(2) {
        font-size: 3vw;
        line-height: 2vw;
    }

    .about .box-about .desc-about p {
        font-size: 1.6vw;
        line-height: 2.5vw;
    }

    /* About CSS End */

    /* Services CSS Start */

    .services .box-services {
        margin-top: 50px;
    }

    .services .box-services .title-services h3 {
        font-size: 1.7vw;
    }

    .services .box-services .title-services p {
        font-size: 3vw;
    }

    .services .box-services .img-services .detail-img-services p {
        font-size: 1.6vw;
    }

    /* Services CSS End */

    /* Portofolio CSS Start */

    .portofolio .box-portofolio {
        margin-top: 50px;
    }

    .portofolio .box-portofolio .title-portofolio h3 {
        font-size: 1.7vw;
    }

    .portofolio .box-portofolio .title-portofolio p {
        font-size: 3vw;
    }

    .portofolio .box-portofolio .img-portofolio .detail-img-portofolio p {
        font-size: 1.6vw;
    }

    /* Portofolio CSS End */

    /* Contact CSS Start */

    .contact .box-contact .img-contact {
        padding: 4.6vw 3.25vw;
        width: 100%;
        min-height: 100%;
        row-gap: 12vw;
    }

    .contact .box-contact .img-contact h3 {
        font-size: 3vw;
        line-height: 4vw;
    }

    .contact .box-contact .img-contact button {
        padding: 1.04vw 1.4vw 1.04vw 1.4vw;
        width: 21.05vw;
        height: 6.1vw;
        display: flex;
        column-gap: 5px;
        border-radius: 0.67vw;
        font-size: 1.4vw;
    }

    .contact .box-contact .img-contact button img {
        width: 3.08vw;
    }

    /* Contact CSS End */

}

@media (max-width: 768px) {
    #menu-bar {
        display: block;
    }

    .nav-section .box-nav .menu {
        position: absolute;
        flex-direction: column;
        width: 100%;
        height: 250px;
        justify-content: center;
        align-items: center;
        top: 70px;
        right: 50%;
        opacity: 0;
        z-index: 1;
        margin-top: 0px;
        transition: all .3s ease;
        background: linear-gradient(180deg, #000000 -113.95%, rgba(0, 0, 0, 0.8));
    }

    .nav-section .box-nav .menu li {
        margin-top: 20px;
    }

    .nav-section .box-nav .menu.menu-active {
        position: absolute;
        flex-direction: column;
        width: 100%;
        height: 250px;
        text-align: center;
        align-items: center;
        top: 70px;
        right: 50%;
        transform: translateX(50%);
        display: block;
        opacity: 1;
        z-index: 0;
        transition: all .3s ease;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }

    .hero .box-hero .box-title h3 {
        font-size: 7.166666666666667vw;
        line-height: 7.2734375vw;
    }

    .hero .box-hero .box-title p {
        font-size: 3vw;
        line-height: 5.2734375vw;
    }

    .hero .box-hero .box-title button {
        padding: 1.04vw 1.5vw 1.04vw 1.5vw;
        width: 20.4vw;
        height: 8.42vw;
        font-size: 3vw;
        line-height: 0px;
    }

    .hero-2 .box-ig img {
        width: 26px;
        height: 4.2105263157894735vh;
    }

    .hero-2 .box-ig h3 {
        font-size: 1.953125vw;
    }

    /* About CSS Start */

    .about .box-about {
        margin-top: 60px;
        margin-bottom: 70px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        row-gap: 50px;
        justify-items: center;
    }

    .about .box-about .img-about img {
        width: 50.82vw;
    }

    .about .box-about .desc-about {
        display: grid;
        justify-items: center;
    }

    .about .box-about .desc-about h3:nth-child(1) {
        font-size: 3vw;
        line-height: 60px;
    }

    .about .box-about .desc-about h3:nth-child(2) {
        font-size: 4.5vw;
    }

    .about .box-about .desc-about p {
        text-align: center;
        font-size: 2.7vw;
        line-height: 4vw;
    }

    /* About CSS End */

    /* Services CSS Start */

    .services .box-services .title-services h3 {
        font-size: 3vw;
    }

    .services .box-services .title-services p {
        font-size: 4.5vw;
    }

    .services .box-services .img-services {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 10px;
        justify-items: center;
    }

    .services .box-services .img-services .detail-img-services p {
        font-size: 3vw;
    }

    /* Services CSS End */

    /* Portofolio CSS Start */

    .portofolio .box-portofolio {
        margin-bottom: 50px;
    }

    .portofolio .box-portofolio .title-portofolio h3 {
        font-size: 3vw;
    }

    .portofolio .box-portofolio .title-portofolio p {
        font-size: 4.5vw;
    }

    .portofolio .box-portofolio .img-portofolio {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        row-gap: 20px;
        column-gap: 20px;
        justify-items: center;
    }

    .portofolio .box-portofolio .img-portofolio .detail-img-portofolio p {
        font-size: 3vw;
    }

    .portofolio .box-portofolio .see-more a {
        text-decoration: none;
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #FFFFFF;
    }

    /* Portofolio CSS End */

    /* Contact CSS Start */

    .contact .box-contact .img-contact {
        padding: 2vw 3vw;
        width: 100%;
        min-height: 100%;
        row-gap: 10vw;
    }

    .contact .box-contact .img-contact h3 {
        font-size: 3vw;
        line-height: 5vw;
    }

    /* Contact CSS End */

    /* Footer CSS Start */

    footer {
        padding-top: 51px;
        padding-bottom: 38px;
    }

    footer .box-footer {
        display: grid;
        justify-content: space-between;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
    }

    footer .box-footer .img-footer img {
        width: 91px;
    }

    footer .box-footer .menu-footer {
        display: flex;
        column-gap: 2.0vw;
    }

    footer .box-footer .menu-footer li {
        list-style-type: none;
    }

    footer .box-footer .menu-footer li a {
        text-decoration: none;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #F2F2F2;
    }

    footer .box-footer .menu-footer li a:hover {
        color: #FFD369;
        transition: all .3s ease;
    }

    /* Footer CSS End */

}

@media (max-width:535px) {

    .nav-section .box-nav .logo img {
        width: 90%;
        height: 85%;
    }

    .hero .box-hero .box-title h3 {
        font-size: 7.3vw;
        line-height: 7.2734375vw;
    }

    .hero .box-hero .box-title p {
        font-size: 3.5vw;
        line-height: 5.2734375vw;
    }

    .hero .box-hero .box-title button {
        padding: 1.04vw 1.5vw 1.04vw 1.5vw;
        width: 24.4vw;
        height: 10.42vw;
        font-size: 4vw;
        line-height: 0px;
    }

    .hero-2 .box-ig img {
        width: 24px;
        height: 4vh;
    }

    .hero-2 .box-ig h3 {
        font-size: 3vw;
    }

    /* About CSS Start */

    .about .box-about {
        row-gap: 30px;
        margin-bottom: 0px;
    }

    .about .box-about .desc-about h3:nth-child(1) {
        font-size: 3vw;
        line-height: 30px;
    }

    /* About CSS End */

    /* Services CSS Start */

    .services .box-services .title-services h3 {
        font-size: 3vw;
    }

    .services .box-services .title-services p {
        font-size: 4.5vw;
        line-height: 7vw;
    }

    .services .box-services .img-services {
        row-gap: 5px;
    }

    .services .box-services .img-services .detail-img-services p {
        font-size: 3vw;
    }

    /* Services CSS End */

    /* Portofolio CSS Start */

    .portofolio .box-portofolio {
        margin-bottom: 50px;
    }

    .portofolio .box-portofolio .title-portofolio h3 {
        font-size: 3vw;
    }

    .portofolio .box-portofolio .title-portofolio p {
        font-size: 4.5vw;
        line-height: 7vw;
    }

    .portofolio .box-portofolio .see-more a {
        text-decoration: none;
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 30px;
        color: #FFFFFF;
    }

    /* Portofolio CSS End */

    /* Footer CSS Start */

    footer {
        padding-top: 51px;
        padding-bottom: 38px;
    }

    footer .box-footer {
        display: grid;
        justify-content: space-between;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
    }

    footer .box-footer .img-footer img {
        width: 18vw;
    }

    footer .box-footer .menu-footer li a {
        font-size: 3vw;

        /* Footer CSS End */

    }
}